.lato{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.latoBold{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}
.latoUBold{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}
.latoLight{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
.latoThin{
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}