<div class="container-fluid no-padding" ng-controller="FooterCtrl as footer">
	<p class="f10 latoLight pull-left">Copyright © Aurélie Borgne<br>2013 </p>
	<button type="button" class="btn btn-link pull-right latoLight" ng-click="footer.toggleFooter()">About<i ng-show="!openFooter"class="fa fa-chevron-down" aria-hidden="true"></i><i class="fa fa-chevron-up" ng-show="openFooter" aria-hidden="true"></i></button>
	<div id="about">
		<img src="assets/images/lakshmi.gif" alt="" class="pull-right" />
		<!-- <img id="avatar" src="assets/images/avatar.jpg" class="pull-left" alt="" /> -->
		<p class="text-left">
			Aurélie Borgne - Développeuse Front-End<br>
			<span class="latoLight">Pour mon stage de fin d'année de Master Information Communication, j'ai eu l'opportunité de partir en Inde.
			Voici mon album photo retraçant mes différents voyages.</span>
		</p>
		<div id="contact">
			<!-- <p >Contactez moi :</p> -->
			<ul class="list-inline list-unstyled text-primary f18">
				<li><a href="mailto:aurelie.borgne@gmail.com?subject=Travel.In.India"><i class="fa fa-envelope"></i></a></li>
				<li><a href="https://www.linkedin.com/in/aurélie-borgne-36349519" target="_blank"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="http://www.viadeo.com/p/002154o6wcn08agl" target="_blank"><i class="fa fa-viadeo"></i></a></li>
			</ul>
		</div>
	</div>
</div>