<div ng-controller="HeaderCtrl as header">
	<!-- guide svg -->
	<!-- <img src="assets/images/logo.png" alt="" />  -->
	<!-- --------- -->
	<div id="logo">
		<svg width="320px" height="250px" >
			<path id="greenPathO" d="M300 0 L63 240 Z" />	
		</svg>
		<div id="lotusBox">
			<img src="assets/images/logo/lotus.png" alt="" id="lotus">
		</div>
		<svg width="320px" height="250px" >
			<path id="pinkPathO2" class="pinkPathO" clip-path="url(#clipping2)" d="M71 248 L316 0 Z" />
			<path id="pinkPathO1" class="pinkPathO" clip-path="url(#clipping)" d="M71 248 L316 0 Z" />
			<path id="pinkPathL" d="M67 10 L119 62 L67 114 L15 62 Z" />	
			<path id="greenPathL" d="M72 10 L124 62 L72 114 L20 62 Z" />
			<defs>
				<clipPath id="clipping">
					<path d="M128.201,191.475L121.625,258l-53.875-4.75L-1,251.75l125.919-62.253L128.201,191.475z"/>
				</clipPath>
			</defs>
			<defs>
				<clipPath id="clipping2">
					<path d="M320,168H0V0h320V168z"/>
				</clipPath>
			</defs>
		</svg>
		<p id="txtIndia" class="latoThin f18">INDIA</p>
		<div id="ganeshBox">
			<img src="assets/images/logo/ganesh.png" alt="" id="ganesh">
		</div>
		<svg width="320px" height="250px" >
			<path id="pinkPath" d="M0 169 L260 169 Z" />
			<path id="greenPath" d="M0 174 L260 174 Z" />	
		</svg>
		<img src="assets/images/logo/cube1.png" alt="" id="cube1">
		<img src="assets/images/logo/cube2.png" alt="" id="cube2">
		<img src="assets/images/logo/cube3.png" alt="" id="cube3">
		<img src="assets/images/logo/cube4.png" alt="" id="cube4">
		<img src="assets/images/logo/triangle.png" alt="" id="triangle">
	</div>

</div>