<div id="menu" class="col-md-3 no-padding" ng-controller="MenuCtrl as menu">
	<div class="toggle-btn pointer-cursor latoLight f24 text-primary" ng-click="menu.toggleMenu()">
		<p>
			<span>VILLES</span>
			<i ng-show="menu.isOpen"class="fa fa-chevron-down" aria-hidden="true"></i><i class="fa fa-chevron-right" ng-show="!menu.isOpen" aria-hidden="true"></i>
		</p>
	</div>
	<ul ng-class="{'open-menu': menu.isOpen, 'close-menu': !menu.isOpen}" class="nav nav-pills nav-stacked list-unstyled latoLight f24">
		<li ng-click="menu.selectCity(city.id)" class="city" ng-class="{'active': idSelectCity == city.id}" ng-repeat="city in menu.cities track by $index"><p>{{city.title}}</p></li>
	</ul>
</div>